<head>
  <style>
    {{ style }}
  </style>
</head>

<body>

<div style="padding-top: 0px; padding-bottom: 0px; line-height: 140%;">
  <h3>Welcome to the AiiDAlab SSSP app! 👋</h3>

  The <a href="http://materialscloud.org/sssp" target="_blank">SSSP</a> app is a graphical interface for verification the pseudopotential under certain procedure to criticise the precisive and convergence property of a pseudopotential.
  Each of the properties is calculated by workflows powered by the <a href="https://www.aiida.net/" target="_bland"> AiiDA engine</a>, and maintained in the <a href="https://github.com/aiidateam/aiida-sssp-workflow" target="_blank"> SSSP plugin</a> for AiiDA.

  <p style="padding-top: 10px; padding-bottom: 10px;">The SSSP app allows you to verify pseudopotential properties in a simple 3-step process:</p>

  <ol style="list-style-type:none">
    <li style="padding-top: 2px; padding-bottom: 2px;">🔍 <b>Step 1:</b> Select the pseudopotetial file you want to run.</li>
    <li style="padding-top: 2px; padding-bottom: 2px;">⚙️ <b>Step 2:</b> Select the properties you are interested in.</li>
    <li style="padding-top: 2px; padding-bottom: 2px;">🚀 <b>Step 3:</b> Submit your workflow!</li>
  </ol>

<p style="padding-top: 10px; padding-bottom: 10px;">If you want to run the verification on more pseudopotential files,
we recommond to run it through <a href="https://github.com/aiidateam/aiida-sssp-workflow" target="_blank">aiida-sssp-workflow</a> plugin.
Please check the <a href="https://aiida-sssp-workflow.readthedocs.io/en/latest/" target="_blank">documentation</a> and
examples on how to run it in your local machine with aiida and aiida-sssp-workflow installed.
</p>


  <p style="padding-top: 5px; padding-bottom: 5px;"><em>Happy computing! 🎉</em></p>
</div>

</body>
